<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<header>
<b>
Sham : 1001574763
</b>
</header>
</br>
</br>
<p>
  <!-- This retrives all the data based on the content typed in textbox of index.html -->
  <p>Time for execution <b>{{t}}</b>.
</p>
<p>
  <!-- This retrives all the data based on the content typed in textbox of index.html -->
  <p>Centroids are <b>{{cen}}</b>.
</p>
  <!-- This retrives all the data based on the content typed in textbox of index.html -->
  <p>centroid points are <b>{{ctr}}</b>.
</p>
</body>
</html>
