<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<header>
<b>
Sham : 1001574763
</b>
</header>
<p>
  <!-- This retrives all the data based on the content typed in textbox of index.html -->
  <p>Centroids are <b>{{cen}}</b>.
</p>
  <!-- This retrives all the data based on the content typed in textbox of index.html -->
  <p>Distance between centriods are <b>{{ds}}</b>.
</p>
</p>
  <!-- This retrives all the data based on the content typed in textbox of index.html -->
  <p>centroid points are <b>{{ctr}}</b>.
</p>
<p>

{% for pi in ds: %}
 
  <!-- This retrives all the data based on the content typed in textbox of index.html -->
  <p>The column1 is <b>{{pi}}</b></br>

{% endfor %}
</p>
<p>
{% for i in range(l): %}
 
  <!-- This retrives all the data based on the content typed in textbox of index.html -->
  <p>The column1 is <b>{{ci[i][0]}}</b> the column2 is <b> {{ci[i][1]}} </b>.

{% endfor %}
</p>
</body>
</html>
